.containerFooter {
  align-items: center;
  padding: 3rem 10rem;
  background-color: #fafafb;
}

.footer-logo {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .containerFooter {
    padding: 1rem 2rem;
  }
  .containerFooter div:nth-child(2) {
    text-align: center;
  }
}
